{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <p>
        I made that project because I wanted to prove myself that
        I was able to move a website project from ground zero to a production website.

        I also love working and developing with Python, Django and Linux. That project
        was a great deal of learning many new little things that I could re-use later.

        I made this project open source on github in the hope that peoples will contribute
        to the site and make it a better site.
    <p>
{% endblock %}