{% load copyright %}
{% load i18n %}
<footer>
    <div class="bs-docs-grid">
        <div class="row row-fluid"> 
            <div class="span12 offset11">
                <p>&copy;&nbsp;{% trans "Company" %}&nbsp;{% year %}</p>
            </div>
        </div>
        <div class="row row-fluid">
            <div class="span12 offset11">
                <a href="http://humanstxt.org/" target="_blank">
                    <img src="{{ STATIC_URL }}img/humanstxt-isolated-blank.gif" alt="humanstxt.org" />
                </a>
            </div>
        </div>
    </div>
</footer>