{% load i18n %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Uptimes</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">{% trans "Home" %}</a></li>
                    <li><a href="/getstarted/">{% trans "Get started" %}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Stats" %}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Uptimes</li>
                            <li><a href="#">{% trans "Numero Uno" %}</a></li>
                            <li><a href="#">{% trans "Top 25" %}</a></li>
                            <!-- <li class="divider"></li> -->
                            <li class="nav-header">{% trans "Distribution" %}</li>
                            <li><a href="#">{% trans "Top 5" %}</a></li>
                            <li><a href="#">{% trans "..." %}</a></li>
                            <!-- <li class="divider"></li> -->
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="pull-right"><a href="/settings/">{% trans "Settings" %}</a></li>
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                <form class="navbar-form pull-right" method="post" action="/accounts/logout/">
                    <button type="submit" class="btn btn-foxtrot"><i class="icon-user icon-white"></i>&nbsp;{% trans "Logout" %}</button>
                    {% csrf_token %}
                </form>
                {% else %}
                    {% block loginform %}
                        {% include "registration/login_form.html" %}
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
</div>